.card {
    width: 420px;
    margin: auto;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}

.content {
    position: -webkit-sticky;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;

    position: sticky;
    top: 100px;
    /* height: calc(100vh - 4rem); */
    overflow-y: auto;

    order: 2;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: .875rem;
}

.margin {
    margin-left: 10px;
    
}

.align{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.btn-bd-apply {
    font-weight: 600;
    background-color: #20232a;;
    color: white;;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  
  .btn-bd-apply:hover {
    color: #ffff;
    background-color: #61dafb;
    border-color: #61dafb;
  }

 

  .margin-control{
  margin: 30px 0px 0px 45px;
}
  


 .card{
    position: relative;
    color: black;
    width: 300px;
    display: inline-block;
    justify-items: stretch;
    text-align: left;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin: 10px 15px;
    transition: 0.5s;
    padding-bottom: 2px; 
    min-width: 0;
    /* flex-direction: column; */
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    word-wrap: break-word;
 }

/* .card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
} */