.saved-job-parent-container{
    margin-top: 10%;
    padding: 80px;
}
.saved-job-parent-container .row {
    margin-right: 4px;
    }
.saved-job-container {
    margin-top: 80px;
}
.saved-job-container .card {
    width: 100%;
    border: none;
    -webkit-box-shadow: 2px 4px 10px 1px rgb(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgb(201, 201, 201, 0.47);
}
.saved-job-container .stats {
    background: #f2f5f8 !important;
    color: #000 !important;
}
.saved-job-container .articles {
    font-size: 10px;
    color: #a1aab9;
}
.saved-job-container .followers {
    font-size: 10px;
    color: #a1aab9;
}
.saved-job-container .rating {
    font-size: 10px;
    color: #a1aab9;
}
.saved-job-container .btn {
    margin-top: 5px;
    height: fit-content;
    font-size: 12px;
}
.number3 {
    font-weight: 500;
}
.heading-timestamp {
    display: flex;
    justify-content: space-between;
}
.timestamp {
    font-size: 10px;
}